body{

    font-family: sans-serif;
  color: white
  }
    
  
    /* CONTACTO */
  
  .cajaformulario{
  background-color: #754720;
  position: absolute;
  left: 400px;
  padding-left: 20px;
  border-left: gold solid 2px;
  border-right: gold solid 2px;
  padding-right: 40px;
  }
  
  h1{
    text-align: center;
  }
    


  button{
    font-size: 15px;
    color: white;
    background-color: gold;
    border-radius: 10px;
    width: 280px;
    float: left;
    padding: 4px;
    margin: 3px;
  }
  
  #segundoboton{
    background-color: grey;
    color: gold;
  }

  input{
    width: 50%;
    
  }